# Wijzigingen in files in de root mogen alleen door het Badmintonclub-Gestel account worden goedgekeurd
/ @Badmintonclub-Gestel

# Deze gebruikers mogen wijzigingen in de docs directory goedkeuren
/docs @nrkoelewijn @wmkuipers

# Wijzigingen aan de website configuratie moeten worden goedgekeurd door deze gebruiker
/docs/_config.yml @nrkoelewijn @Badmintonclub-Gestel

# Iedereen mag deze files aanpassen
/docs/*.md *
/docs/files *
